<!DOCTYPE html>
<html>

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WKSYHTRV43"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WKSYHTRV43');
    </script>
    <meta charset="UTF-8">
    <title>Mark Nalley</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>


<body>
    <header>
        <h1>Mark Nalley</h1>

        <nav>
            <ul>
                <li><a href="#about">About Me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div id="particles-js">
        <main>
            {% load static %}
            <img src="{% static 'index/images/headshot.jpg' %}" alt="My image">
            <section id="about">
                <h2>About Me</h2>
                <p>I'm currently working in Operations at Apple, after a few stints working in Operations and Supply
                    Chain roles at CPG companies in Atlanta.</p>
                <p>My creative outlets are data science and software development. I'm a self-taught developer, and have
                    used my skills to build tools to make my coworkers and I work more efficiently.</p>
            </section>
            <section id="projects">
                <h2>Projects</h2>
                <p>Some of my work:
                <ul>
                    <li>Automated demand forecasting package that uses statistical models and machine learning to
                        accurately project demand for hundreds of SKUs across more
                        than 100 distribution points, accounting for $750m in annual revenue</li>
                    <li>Dashboarding, analytics, and reporting suites serving hundreds of users that consolidate data
                        from multiple different sources, saving team members time and enabling them to make better
                        decisions. ETL pipelines in SQL and
                        Python, frontend in Tableau, PowerBI, Streamlit</li>
                    <li>This website, created using Django. I'm working on rebuilding it using React.js</li>
                </ul>
                </p>
            </section>
            <section id="experience">
                <h2>Experience</h2>
                <ul>
                    <li>Worldwide Supply Demand Management at Apple</li>
                    <li>Senior Manager, Demand Planning at <a href="https://www.kikcorp.com">KIK Consumer Products</a>
                    </li>
                    <li>Demand Planning at <a href="https://primowatercorp.com/about-us/">Primo Water Corporation</a>
                    </li>
                </ul>
                <p></p>
                <h2>Skills</h2>
                <ul>
                    <li>Python, R, SQL, JavaScript, CSS, HTML</li>
                </ul>
            </section>
            <section id="contact">
                <h2>Get in Touch</h2>
                <p>Feel free to reach out to me:</p>
                <ul>
                    <li>
                        <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium"
                            data-theme="dark" data-type="VERTICAL" data-vanity="marknalley" data-version="v1"><a
                                class="badge-base__link LI-simple-link"
                                href="https://www.linkedin.com/in/marknalley?trk=profile-badge">LinkedIn</a></div>
                    </li>
                    <li>
                        <a href="mailto:mnalley95@gmail.com">Email</a>
                    </li>
                    <li>
                        <a class="github-button" href="https://github.com/mnalley95" data-show-count="true"
                            aria-label="Follow @your-username on GitHub">@mnalley95</a>
                    </li>
                </ul>

            </section>
        </main>
    </div>
    <footer>
        <p>Copyright &copy; Mark Nalley</p>
    </footer>
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- particles.js container -->
    <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="{% static 'index/js/background.js' %}"></script>

</body>

</html>
